ul {
    list-style-type: none;
}
li {
    margin: 10px 20px 10px 20px;
}
a {
    text-decoration: none;
}
main{
    margin: 0 auto;
}
section {
    margin: 100px auto;
    margin-top: 50px;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(228, 84, 40);
}
h2{
    margin: 20mm;
    font-size:50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:peru;

}
h3{
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkgreen;
    margin-bottom: 10px;
}
h4{
    margin: 20mm;
    margin-bottom:30px;
    margin-top:30px;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(17, 13, 48);
    text-align: center;
    margin-left: 71px;

}
p.italic{
    font-style:italic;
    text-align: center;   
    font-size:17px;
    margin-left: 20px;
    margin-right: 20px;
   
}
p {
    text-align: initial;
    font-size:15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-page img {
    display: block;
    width: 150px;
    margin-top: 10px;
  }
.t-aling-center{
    text-align: center;
}
.bg-home{
    background-position: left top;
    background-color:rgb(248, 143, 82);
    min-height: 150px;
    width: 100%;
    }
.fa{
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
}
.margin-left{
    margin-left:20px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.container-navbar {
    display: flex;
}
.m-10 {
    margin: 10px;
}
.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.txt-end{
    text-align: end;
}
.navbar-ul {
    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top:15px;
    cursor: pointer;
    letter-spacing: 1px;
    padding-top: 6px;
    width: 80%;
    justify-content: end;
    
}
.navbar-header {
    letter-spacing: 6px;
    width: 20%;
    margin: 10px 20px;
}


.h2-center {
    text-align: center;
        max-width: 400px;
    }

.h5-center{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color:rgb(4, 116, 116);
 
}
.h5-style{
    text-align: center;
    color: rgb(226, 67, 4);
    font-size:35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 25px;
  

}
.form-inputs {
    text-align: initial;
    margin: 30px auto;
    max-width: 500px;
    display: block;
    text-align: center;
}
.container{
    text-align: center;
}

#pet1 {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
#pet1 img {
    max-width: 300px;
}
#pet3 img {
    max-width: 300px;
}


#pet3 {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}
.pets-image{
    margin-left:100px;
    margin-right:100px;
}

.button {
    border: 1px solid #02b44c; 
    padding: 10px 10px 10px 10px; 
    background-color: #34d10c; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    border-radius:80px; 
    }
.button-two{
  margin-top:5px;
  background-color:lightblue
  

}
.button-one{
    margin-top:5px;
    background-color:lightblue
}
.question{
    text-align: initial;
    font-size:15px;
    margin-top:20px;
    margin-left:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    width:100%;
    justify-content: center;
}

#answer-one{
    width: 120px;
    margin-left:100px;
}
#answer-two{
    width: 120px;
    margin-left: 65px;
}
#answer-three{
    width: 120px;
    margin-left: 71px;
}
#answer-four{
    width: 120px;
    margin-left: 197px;
}
#answer-five{
    width: 120px;
    margin-left: 189px;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #cfcece;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu-mobile {
    display: none;
}

@media only screen and (max-width: 670px) {
    #menu-desktop {
        display: none;
    }
    #menu-mobile {
        display: flex;
        width: 20%;
        margin: auto;
        justify-content: center;
    }
    .navbar-header {
        width: 80%; 
    }
  }